{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>FAQ 무엇이든 물어보세요</h1> 


<h1>글 목록</h1>

<div>
	<div >
        <h2><a href="{%url 'app1_simbathon5:new'%}">글쓰기</a></h2>
    </div>

    <div >글목록</div>

    <br><br>
    <div>
        {% for post in faqs %}
        <div>
            <h5>{{post.title}}</h5>
            {{post.writer}}<br>
            {{post.summary}}<br>
            <a href= "{%url 'app1_simbathon5:detail' post.id %}">..자세히</a>
        </div>
        {%endfor%}
    </div>
    
</div>

{% endblock %}
